* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #ee0000;
    font-family: "Oswald", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: 	#f8f8f8;
}

p{
    color: 	#f8f8f8; 
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

::selection {
    background: #f8f8f8;
    color: #ee0000;
  }


/* -----------------------------------Container----------------------------------- */
.container {
    margin: 0 auto;
    padding: 0 ;
}

/* Grid System */
.row {
    display: flex;
    flex-wrap: wrap;
   
}

.col {
    flex: 1;
}

.col-1 { flex: 1; }
.col-2 { flex: 2; }
.col-3 { flex: 3; }

/* -----------------------------------Scroll Bar----------------------------------- */

::-webkit-scrollbar {
    display: none;
    
  }
    ::-webkit-scrollbar-track {
    background: #ee0000; 
  }
    ::-webkit-scrollbar-thumb {
      background: #f8f8f8; 
      border-radius:3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 
  .wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

/*-----------------------------------Text-animation-----------------------------------*/
:root{
    --bg-color: #ee0000;
}

.text-animation span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.text-animation.animate span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.text-animation.animate span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}





/*-----------------------------------Home Banner-----------------------------------*/
.heading.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header.container{
    padding: 0%; 
}

.header-img{
    height: 100vh;
}

.header-img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.heading.col h1{
    font-size: 80px;
}



/*-----------------------------------About Section----------------------------------------*/
.about.col{
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about.col h1{
    font-size: 80px;
}


/*-----------------------------------Project Section----------------------------------------*/
.project.col-3 {
    height: 40vh;
    display: flex;
    justify-content: space-evenly; 
}

.project.col-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project.col-2 {
    height: 40vh;
    display: flex;  
    justify-content: space-evenly; 
}

.project.col-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.prd.container{
    width: 100%;
    padding: 20px;
}

.scprd.row{
    margin-top: 1%;
    gap: 20px;
}

.prd.row{
    gap: 20px;
}

.prd.col h1{
    font-size: 80px;  
}
.prd.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}


 
/*-----------------------------------Timeline----------------------------------------*/

$timeline-width: 700px;
$timeline-container-width: 100%;

@mixin responsive() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: $timeline-width;
  position: relative;
}

.timeline__content {
  &-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: $heading-font;
    color: #fff;
  }

  &-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(#fff, .7);
    font-family: $content-font;
    font-weight: normal;
    line-height: 25px;
  }
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, .07);
  @include responsive() {
    left: 40px;
  }
}

.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);

  &:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(#fff, .5);
    font-size: 13px;
    font-family: $heading-font;
    border-left: 2px solid rgba(#fff, .5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
  }

  &:nth-child(even) {
    align-self: flex-end;

    &:before {
      right: auto;
      text-align: right;
      left: calc(-100% - 56px);
      padding-left: 0;
      border-left: none;
      border-right: 2px solid rgba(#fff, .5);
      padding-right: 15px;
    }
  }

  &--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);

    &:before {
      top: 50%;
      transition: .3s all .2s;
      opacity: 1;
    }

    .timeline__content-title {
      margin: -50px 0 20px 0;
    }
  }

  @include responsive() {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;

    &:before {
      left: 10px !important;
      padding: 0 !important;
      top: 50px;
      text-align: center !important;
      width: 60px;
      border: none !important;
    }

    &:last-child {
      padding-bottom: 40px;
    }
  }
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
}

.timeline-container {
  width: $timeline-container-width;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
  }
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;

  &__title {
    color: #fff;
    font-size: 46px;
    font-family: $content-font;
    font-weight: normal;
    margin: 0;
  }

  &__subtitle {
    color: rgba(255, 255, 255, .5);
    font-family: $heading-font;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
  }
}

// DEMO
.demo-footer {
  padding: 60px 0;
  text-align: center;

  a {
    color: #999;
    display: inline-block;
    font-family: $content-font;
  }
}